body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  }

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Header */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 30px;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg") center no-repeat;
  background-size: cover;
}
.intro__inner {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  color: white;
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.intro__title:after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background-color: white;
  margin: 70px auto;
}
.intro_subtitle {
  margin-bottom: 15px;
  font-size: 20px;
  color: white;
  text-align: center;
}
/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;

}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 700;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  background-color: red;
  position: absolute;
  transition: opacity 0.3s;
}

.nav__link:hover {
  color: red;
}

.nav__link:hover:after {
  opacity: 1;
}
/* Button */
.button {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;

  border: 3px solid white;

  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}
.button:hover {
  background-color: white;
  color: #333333;
}
/* slider */
.intro_slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

}
.slider_inner {
  display: flex;
  justify-content: space-between;
}
.intro_slider_item {
  color: white;
  padding: 20px 0;
  border-top: 3px solid white;
  width: 24%;
  font-size: 18px;
  text-transform: uppercase;
}
/* Section */
.section {
  padding: 80px 0;
}
.section_header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}
.section_subtitle {
  font-size: 20px;
}
.section_title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.section_title:after {
  content: '';
  display: block;
  width: 120px;
  height: 3px;
  margin: 40px auto;
  background-color: black;
}
.section_text {
  font-size: 15px;
}
/* Counter App */
.counter_left {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  width: 50%;
  background: #fbf6f6;
  min-height: 550px;
  float: left;
}
.sections {
  display: flex;
  }
.counter_right {
  display: flex;
  align-content: center;
  font-size: 20px;
  width: 50%;
  background: #fbf6f6;
  min-height: 530px;
}
.chart-wrapper {
  width: 340px;
  height: 340px;
}
.counter_footer {
  clear: both;
  background: #242424;
  height: 70px;
  color: #eeeeee;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
}
input, button {
  height: 35px;
  padding: 6px;
  max-width: 70%;
  margin-bottom: 20px;
}

#balance {
  display: inline;
  margin-left: 5px;
  transition: 1s;
  padding: 5px;
}
#balance-store-income,
#balance-store-expenses {
  display: inline;
  margin-left: 5px;
  transition: 1s;
  opacity: 0;
}
#input-income,
#input-expenses
 {
  border: 3px solid #232323;
  border-radius: 1px;
  width: 100%;
  outline: none;
  margin-left: 10px;
  text-align: center;
}
#btn-income,
#btn-balance,
#btn-expenses {
  margin-left: 10px;
  width: 100%;
  border: 3px solid #000000;
  background-color: #fff7ff;
  border-radius: 1px;
  font-weight: 600;
  padding: 6px 20px;
  text-align: center;
  opacity: 90%;
  color: #000000;
  outline: none;
  transition: 0.5s;

}
#btn-income:hover,
#btn-balance:hover,
#btn-expenses:hover {
  background-color: #333333;
  color: white;
  opacity:.85;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}
#btn-income:active,
#btn-balance:active,
#btn-expenses:active {
  background-color: #e89a00;
  color: #000000;
}
/* PassGenerator */
.pass-gen,
#pass-gen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  min-height: 450px;
  color: white;
  background-color: #242424;
}

.list-item,
.pass-list-box{
  display: flex;
  align-items: center;
  padding: 5px;
}

input {
  margin-right: 1px;
}

#input-pass-ready,
.input-pass-ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  outline: none;
  margin-left: 10px;
}
#input-pass {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  outline: none;
  margin-left: 10px;
  font-weight: 600;
  transition: 1s;
  pointer-events: none;
}
#btn-pass-generate,
#btn-pass-copy {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding: 6px;
  margin-left: 10px;
  width: 150px;
  transition: 0.5s;
  outline: none;
  border: 3px solid #000000;
}
#btn-pass-generate:hover,
#btn-pass-copy:hover {
  background-color: #333333;
  color: white;
  opacity:.85;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
}
#btn-pass-generate:active,
#btn-pass-copy:active {
  background-color: #e89a00;
  color: #000000;
}
.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -15px;
  font-weight: 600;

}

.range-num {
  width: 30px;
  height: 30px;
  position: relative;
  left: -10px;
  top: 0;
  font-weight: 600;
  font-size: 17px ;
}
.input-range {
  width: 300px;
  padding: 0;
}
#pass-copy {
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0;
  transition: 1s;
  font-size: 16px;
}